body {
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

fieldset {
    display: flex;
    flex-direction: column;
}

fieldset input {
    float: right;
}